snippet module
	# -----------------------------------------------------------------------------
	# Project           : NAME
	# -----------------------------------------------------------------------------
	# Author            : FFunction
	# License           : BSD License
	# -----------------------------------------------------------------------------
	# Creation date     : DD-MMM-YYYY
	# Last modification : DD-MMM-YYYY
	# -----------------------------------------------------------------------------

	@module   <name>
	@version  0.0.0
	@shared LICENSE = "http://ffctn.com/doc/licenses/bsd"

	# EOF - vim: ts=4 sw=4 noet
snippet section

	# -----------------------------------------------------------------------------
	#
	# SECTION
	#
	# -----------------------------------------------------------------------------

snippet group

		# =========================================================================
		# GROUP
		# =========================================================================

snippet class

	# -----------------------------------------------------------------------------
	#
	# A
	#
	# -----------------------------------------------------------------------------

	@class A: B
	| Docstring

		@constructor
		| Docstring
		@end

	@end

snippet widget
	# -----------------------------------------------------------------------------
	#
	# A
	#
	# -----------------------------------------------------------------------------

	@class A: Widget
	| Docstring
		
		@shared STATES = {
		}

		@shared UIS = {
		}

		@method bindUI
			super bindUI ()
			# TODO
		@end

		# =========================================================================
		# ACTIONS
		# =========================================================================

	@end
